target/
*.class
*.jar
*.war
*.ear
*.log
hs_err_pid*
.mtj.tmp/
out/

!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

.idea/
*.iml
*.ipr
*.iws
.vscode/
.project
.classpath
.settings/
bin/

.DS_Store
Thumbs.db

.env
*.env
*.local
